.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
examples/*.beam
examples/*.ez
examples/build
examples/erl_crash.dump

# *.beam
# *.ez
# /build
# erl_crash.dump


