# Examples
examples/*.beam
examples/*.ez
examples/build
examples/erl_crash.dump

# Website

website/.DS_Store
website/node_modules
website/build
website/.svelte-kit
website/package
website/.env
website/.env.*
website/!.env.example
website/vite.config.js.timestamp-*
website/vite.config.ts.timestamp-*
