* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color-scheme: light dark;
	overflow-y: scroll;
}

:root {
	--color-underwater-blue: #292d3e;
	--color-white: #fefefc;
	--color-faff-pink: #ffaff3;
	--color-light-pink: #fedcfb;
	--color-black: #1e1e1e;
	--color-blacker: #151515;
	--color-charcoal: #2f2f2f;
	--color-unexpected-aubergine: #584355;
	--color-aged-plastic-yellow: #fffbe8;

	/* --background: var(--color-white); */
	--background: var(--color-aged-plastic-yellow);
	--text: var(--color-black);
	--border: var(--color-light-pink);

	background-color: var(--background);
	color: var(--text);
	color-scheme: light;
}

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.6;
	margin-bottom: 2em;
}

:root.dark {
	--background: var(--color-underwater-blue);
	--text: var(--color-white);
	--border: var(--color-unexpected-aubergine);
	color-scheme: dark;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

pre {
	padding: 1em;
	overflow-x: auto;
}

/* Light Mode Styles */
:root:not(.dark) .shiki,
:root:not(.dark) .shiki span {
	--code-color: var(--shiki-light);
	--code-background-color: var(--shiki-light-bg);
	--code-font-style: var(--shiki-light-font-style);
	--code-font-weight: var(--shiki-light-font-weight);
	--code-text-decoration: var(--shiki-light-text-decoration);
}

/* Dark Mode Styles */
:root.dark .shiki,
:root.dark .shiki span {
	--code-color: var(--shiki-dark);
	--code-background-color: var(--shiki-dark-bg);
	--code-font-style: var(--shiki-dark-font-style);
	--code-font-weight: var(--shiki-dark-font-weight);
	--code-text-decoration: var(--shiki-dark-text-decoration);
}

.shiki,
.shiki span {
	color: var(--code-color);
	background-color: var(--code-background-color);
	font-style: var(--code-font-style);
	font-weight: var(--code-font-weight);
	text-decoration: var(--code-text-decoration);
}

.toggle {
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	background-image: url('/sun.svg');
}

.toggle-dark {
	background-image: url('/moon.svg');
}

header {
	background-color: var(--color-faff-pink);
	color: var(--color-black);
	padding: 0.2em 0.6em;
}

header nav {
	max-width: 600px;
	margin-inline: auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	font-size: 1.4em;
	font-weight: 500;
}

header h1 a {
	text-decoration: none;
	color: inherit;
}

:not(pre) > code {
	border-bottom: 1px solid var(--border);
}
